<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css">
</head>
<body>
    <header>
        <h1>Syllabus RPG</h1>
    </header>
    <main>
        <section>
            <a href="{{ url_for('posts', post_id=4) }}">View Posts</a>
        </section>
    </main>
    <footer>
        <p>&copy;Footer</p>
    </footer>
</body>
</html>
